

.container {
  color: white;
  height: 100vh;
  background: linear-gradient(0deg, #040809 0%, #17969E 100%);
  background: linear-gradient(0deg, #040809 0%, #17969E 100%);
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.mainImg{
  width:70vw;
  height: auto;
  margin: auto;
}
.mainImg img{
  border-radius: 1rem;
}